<footer class="footer">
    <div class="box-products">
        <h2 class="title-left">Nossos projetos</h2>
        <ul>
            <li class="list-default item-products"><a href="http://www.golivery.com.br/" target="_blank">Golivery</a></li>
            <li class="list-default item-products"><a href="http://www.jovemprogramador.com/" target="_blank">Jovem Programador</a></li>
            <li class="list-default item-products"><a href="http://canecageek.com.br/" target="_blank">Caneca Geek</a></li>
            <li class="list-default item-products"><a href="http://minhacidade.me/inicio" target="_blank">Minhacidade.me</a></li>
            <li class="list-default item-products"><a href="http://agilevale.com.br" target="_blank">Eventos e Workshops</a></li>
        </ul>
    </div>
    <div class="box-social">
        <h2 class="title-left">Conecte-se</h2>
        <ul>
            <li class="list-social"><a href="https://www.facebook.com/designa.com.br" target="_blank" class="icon-facebook"></a></li>
            <li class="list-social"><a href="https://twitter.com/designasolucoes" target="_blank" class="icon-twitter"></a></li>
            <li class="list-social"><a href="#" target="_blank" class="icon-google-plus"></a></li>
            <li class="list-social"><a href="https://github.com/designa" target="_blank" class="icon-github"></a></li>
        </ul>
    </div>
    <div class="box-contact">
        <h2 class="title-left">Contato</h2>
        <p class="text-contact">Rua Dr. Laerte Machado Guimarães, 77</p>
        <!-- <p class="text-contact"></p> -->
        <p class="text-contact">CEP: 12410-180, Pindamonhangaba-SP</p>
        <p class="text-contact">Brasil      +55 (12) 3643-4707</p>
        <p class="text-contact"><a href="mailto:contato@designa.com.br">contato@designa.com.br</a></p>
        <div class="hire">
            <p class="text-contact"><span>Hey, você gosta de desafios?</span></p>
            <p class="text-contact"><span><a href="mailto:contato@designa.com.br">Faça parte do nosso time!</a></span></p>
        </div>
    </div>
</footer>
