<div class="container">
  <div class="span9 main-content">
    <%= render "blog/headline"%>
    <h2> Leia Também </h2>
    <%= render "blog/second_headline" %>
    <h2> E muito mais </h2>
    <%= render "blog/short_posts" %>
  </div>
  
</div>