<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "examples/slide-01.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Jovem Programador</h1>
          <p class="lead">Nós queremos mudar o mundo criando bons programadores! E o melhor... com cursos gratuitos! <br>E você, está preparado?</p>
        </div>
      </div>
    </div>

    <div class="item">
      <%= image_tag "examples/slide-02.jpg"%>
      <div class="container">
        <div class="carousel-caption">
          <h1>Aprenda a programar de forma diferente!</h1>
          <p class="lead">Pair programming, coding dojo... serão algumas das técnicas adotadas durante o projeto.</p>
        </div>
      </div>
    </div>

    <div class="item">
      <%= image_tag "examples/slide-03.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Descubra como programar pode mudar sua vida.</h1>
          <p class="lead">Crie ferramentas que resolverão problemas computacionais e não-computacionais, facilitando e agilizando a vida das pessoas.</p>
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
