<div class="container featurette contact">
  <h2 class="featurette-heading">Entre em contato <span class="muted">conosco</span></h2>
  <p class="lead">Se você tem alguma dúvida, sugestão ou crítica, ou se você deseja colaborar com o projeto de alguma forma, seja dando aulas, ministrando palestras, gravando vídeo aulas, escrevendo artigos ou algo que não esteja escrito aqui, <strong>entre em contato conosco</strong> através do e-mail: <%= link_to "jovemprogramador@designa.com.br", "mailto:jovemprogramador@designa.com.br" %></p>
</div>


