<div class="container-narrow">
 <div class="featurette" align="center">
    <h2 class="featurette-heading">Entre em contato <br><span class="muted">conosco</span></h2><br>
    <p class="lead">Se você tem alguma dúvida, sugestão ou crítica<br> entre em contato</p>

    <div class="progress progress-striped active" style="width:400px">
      <div class="bar" style="width: 30%;">
      </div>
    </div>
  </div>
</div>
