<div class="container-narrow">
 <div class="featurette" align="center">
    <h2 class="featurette-heading">Entre em contato <br><span class="muted">conosco</span></h2><br>
    <p class="lead">Se você tem alguma dúvida, sugestão ou crítica, <br>deixe-nos saber.

      <h3><%= link_to "jovemprogramador@designa.com.br", "mailto:jovemprogramador@designa.com.br" %></h3>
  </div>
</div>
