<div class="container featurette contact">
  <h2 class="featurette-heading">Inscrições <span class="muted">abertas</span></h2>
  <p class="lead">A primeira turma do projeto <strong>Jovem Programador</strong> será realizado na <%= link_to "FAPI (Faculdade de Pindamonhangaba)", "http://www.fapi.br", target: "blank" %>. As inscrições estão abertas apenas para os alunos da Faculdade. <strong>O prazo</strong> para inscrição é até <strong>29/05 (quarta-feira)</strong> às 23h.</p>

  <p class="lead">Serão selecionados <strong>16 alunos</strong> e os mesmos serão avisados por e-mail e telefone até <strong>31/05 (sexta-feira)</strong>.</p>

  <p class="lead">As aulas terão início na <strong>primeira semana de Junho</strong>. Será realizado 1 (um) encontro por semana, todas as terças-feiras das 14h as 18h, durante 3 meses, totalizando <strong>12 aulas (48 horas)</strong>.</p>

  <p class="lead">Se você tem brilhos nos olhos, sede de aprender e vontade de se tornar um super programador, então <strong>faça sua inscrição</strong> abaixo:</p>

  <iframe src="https://docs.google.com/forms/d/1UbEE2I7nPEGTcYjA404FJyu4mttRiRz-Tl--FBL5Jc0/viewform?embedded=true" width="100%" height="1100" frameborder="0" marginheight="0" marginwidth="0">Carregando...</iframe>
</div>
