<div class="container-narrow">


 <div class="featurette" align="center">
        
        <h2 class="featurette-heading">Faça parte do projeto <br><span class="muted">Jovens Programadores</span></h2><br>
        <p class="lead">Estamos quase prontos para recebê-los!<br> Em breve estaremos com inscrições abertas
        </p><br>
        <div class="progress progress-striped active" style="width:400px">
		  <div class="bar" style="width: 70%;"></div>
		</div>

</div>

</div>