<div class="container-narrow">
 <div class="featurette" align="center">
    <h2 class="featurette-heading">Faça parte do projeto <br><span class="muted">Jovem Programador</span></h2><br>
    <p class="lead">Estamos quase prontos!<br> Em breve estaremos com as inscrições abertas.</p>

    <div class="progress progress-striped active" style="width:400px">
		  <div class="bar" style="width: 30%;">
      </div>
    </div>
	</div>
</div>
