<div class="container-narrow">
 <div class="featurette" align="center">
    <h2 class="featurette-heading">Seja um <span class="muted">parceiro</span></h2><br>
    <p class="lead">
      O projeto <strong>Jovem Programador</strong> é uma iniciativa da <%= link_to "Designa", "http://designa.com.br", :target => "_blank" %>, mas procuramos parceiros para potencializar esta iniciativa. <br>Se <strong>você</strong> pode nos ajudar de alguma forma,<br>deixe-nos saber:

      <h3><%= link_to "jovemprogramador@designa.com.br", "mailto:jovemprogramador@designa.com.br" %></h3>
  </div>
</div>
