<div class="container">
  <div class="row page-header">
    <div class="span12">
      <h1><%= @post.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <p>Você realmente deseja excluir esta post? Os comentários do mesmo em redes sociais não serão removidos. </p>
      <%= link_to "Sim, eu desejo apagar", blog_post_destroy_path(@post), class: "btn btn-danger input flat", method: :delete %>
      <%= link_to "Não voltar para  o post", blog_post_path(@post), class: "btn btn-primary input flat" %>
    </div>
  </div>
</div>