<div class="page-header">
  <%= content_tag :h1, "Caution! Do You really wanna delete \"#{@post.title}\"?" %>
</div>
<p> This action will be irreversible. You'll lost all comments about this post. </p>
<%= link_to "Yes, i'm sure about it", admin_destroy_post_path(@post), method: :delete, class: "btn btn-danger" %>
<%= link_to "No, i change my mind", admin_posts_path, class: "btn" %>