<div class="page-header">
  <%= content_tag :h1, "Edit <small> #{@post.title} </small>".html_safe %>
  <%= link_to "View in Blog", admin_post_path(@post), target: "_blank" %>
</div>
<%= render 'form', path: :admin_edit_post %>