<div class="container">
  <div class="row page-header">
    <div class="span12">
      <h1>Nova Categoria</h1>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <%= render "form", url: :admin_category_new %>
    </div>
  </div>
</div>