<div class="container">
  <div class="row page-header">
    <div class="span12">
      <h1>Novo Post</h1>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <%= render "form", url: :blog_post_edit %>
    </div>
  </div>
</div>