<div class="span12">
  <% @sec_headline.each do |post| %>
    <%= link_to blog_post_path(post) do %>
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid second-headline">
          <div class="span4">
            <%= image_tag post.image.url(:square), class: "blog-preview-image" %>
          </div>
          <div class="span8">
            <h3> <%= truncate(post.title,length: 25) %>  </h3>
            <p><%= simple_format(truncate(post.full_text, length: 270, omission: '... <b>continue lendo<b>')) %></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>