<div class="row-fluid short-post">
  <% 3.times do %>
  <% @posts.each do |post| %>
    <div class="span4">
      <h3> <%= truncate(post.title, length: 20, omission: '...') %>  </h3>
      <small> por <%= post.user.name %></small>
      <%= simple_format(truncate(post.full_text, length: 100, omission: '...')) %>
    </div>
  <% end %>
  <% end %>
</div>