<footer>
    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="widget">
            <h5 class="widgetheading">Links</h5>
            <ul class="link-list">
              <%= content_tag :li, (link_to "GitHub", nil) %>
            </ul>
          </div>
        </div>
        <div class="span3">
          <div class="widget">
            <h5 class="widgetheading">Produtos</h5>
            <ul class="link-list">
              <%= content_tag :li, (link_to "GoLivery", "http://www.golivery.com.br", target: "_blank") %>
            </ul>

          </div>
        </div>
        <div class="span3">
        </div>
        <div class="span3">
          <div class="widget">
            <h5 class="widgetheading">Entre em contato</h5>
            <address>
              <strong>Designa</strong><br>
              Rua Dr. Laerte Machado, 77 <br>
              Pindamonhangaba/SP
            </address>
            <p>
              <i class="icon-phone"></i> (12) 3643-4707  <br>
              <i class="icon-envelope-alt"></i> contato@designa.com
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="sub-footer">
      <div class="container">
        <div class="row">
          <div class="span6">
          <div class="copyright">
            <p><span>Designa Soluções </p>
          </div>
          </div>

          <div class="span6">
            <ul class="social-network">
              <li><a href="#" data-placement="bottom" title="" data-original-title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
              <li><a href="#" data-placement="bottom" title="" data-original-title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
              <li><a href="#" data-placement="bottom" title="" data-original-title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
              <li><a href="#" data-placement="bottom" title="" data-original-title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
              <li><a href="#" data-placement="bottom" title="" data-original-title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>